.main {
	padding: vw(40) vw(90);
	height: calc(100vh - vw(90));
	&__title {
		margin-bottom: vw(35);
		font-size: vw(36);
		letter-spacing: .02em;
	}

	&__btn {
		display: flex;
		padding: vw(14) vw(27);
		align-items: center;
		justify-content: center;
		margin: auto;
		background-color: transparent;
		border: vw(2) solid var(--firm);
		color: var(--firm);
		&::before {
			content: '';
			margin-right: vw(10);
			display: inline-block;
			width: vw(23);
			height: vw(16);
			background-image: url('../assets/images/user_plus.svg');
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}
