.custom-select {
	position: relative;
	width: vw(125);
	align-self: stretch;
	flex-shrink: 0;
	border-right: vw(1) solid var(--border-color);

	&__button {
		position: relative;
		padding: 0 vw(12);
		display: block;
		width: 100%;
		height: 100%;
		background-color: var(--select-btn-bg);
		color: var(--text-color);
		font-size: vw(12);
		font-weight: 400;
		text-align: left;
		cursor: pointer;

		&:focus {
			outline: vw(2) solid var(--firm);
		}

		//noinspection ALL
		&::after {
			content: '';
			position: absolute;
			top: calc(50% - vw(6));
			right: vw(10);
			display: block;
			width: vw(12);
			height: vw(12);
			background-image: url('../assets/images/arrow-select.svg');
			background-position: center center;
			background-size: cover;
			transition: transform 0.2s ease;
		}
	}

	&__list {
		position: absolute;
		left: 0;
		top: vw(36);
		z-index: 1;
		border: vw(1) solid var(--border-color);
		overflow: hidden;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		transition: 200ms ease;

		&-item {
			margin: 0;
			padding: 0 vw(12);
			cursor: pointer;
			font-size: vw(12);
			line-height: vw(37);
			text-align: left;
			background-color: var(--select-list-bg);
			transition-property: background-color, color;
			transition-timing-function: ease;
			transition-duration: 0.2s;

			&:hover,
			&:focus {
				background-color: var(--select-list-bg-hover);
				color: var(--firm);
				outline: none;
			}
		}
	}

	&.active {
		.custom-select {
			&__button {
				&::after {
					transform: rotate(-180deg);
				}
			}

			&__list {
				opacity: 1;
				visibility: visible;
			}
		}
	}
}
