.pop-up {
	position: fixed;
	z-index: 10;
	inset: 0 0 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: 100vh;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.5);

	&__title {
		padding: 0 vw(25);
		margin: 0 0 vw(25);
		font-size: vw(18);
		font-weight: 700;

		&_del {
			justify-content: center;
		}

		span {
			margin-left: vw(10);
			font-weight: 400;
			color: var(--text-grey);
			font-size: vw(12);
		}
	}

	&__content {
		position: relative;
		padding: vw(30) 0;
		width: 100%;
		max-width: vw(450);
		background-color: var(--second-bg-color);
	}

	&__close {
		position: absolute;
		top: vw(15);
		right: vw(15);
		width: vw(25);
		height: vw(25);
		display: block;
		cursor: pointer;

		&::after,
		&::before {
			position: absolute;
			content: '';
			top: vw(10);
			left: 0;
			display: inline-block;
			background-color: var(--text-grey);
			width: 100%;
			height: vw(1);
			transition: background-color, 0.2s ease;
		}

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		&:hover {
			&:after,
			&:before {
				background-color: var(--firm);
			}
		}
	}

	&__message {
		margin: auto auto vw(25);
		max-width: vw(275);
		text-align: center;
		line-height: vw(20);
	}

	&__isLoading,
	&__isError {
		position: absolute;
		inset: 0 0 0 0;
		z-index: 3;
		background-color: rgba(38, 38, 38, 0.8);
	}

	&__isLoading {
		background-image: url('../assets/images/spinner.svg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: vw(50) vw(50);
	}

	&__isError {
		padding: vw(10) vw(50);
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--red);
		text-align: center;
		line-height: 1.7;
	}

	&__confirm-msg {
		margin: auto auto vw(25);
		max-width: vw(275);
		text-align: center;
		line-height: 1.5;
	}

	&__remove-btn {
		margin-bottom: vw(25);
	}
}
