doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title Contact management system
		link(href="/static/css/main.css" rel="stylesheet")
		script(src="/static/index.js" type="application/javascript" defer=true)
	body
